.intro-section {
    /* padding-left: 50%; */
    /* padding-top: 25%; */
    padding: 25% 10% 0 10%;
    /* transform: translateY(-50%) translateX(-50%); */
    text-align: center;
    color: white;
    min-height: 100vh;
    
}

.history-section {
    color: white;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 30px;
    padding: 0 10%;
   /* display: grid; */
    /* grid-template-areas: 'wTitle wTitle wTitle' 'wText wText wText' */
}