body {
    background-color: transparent;
}
.image-area {
    height: 100%;
    background-color: black;
    min-height: 500px;
    display: inline-block;
}

.highschool-face {
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'img img text text text';
    grid-template-columns: 20% 5% 20% 20% 35%;
    grid-template-rows: 15% 85%;
    background-color: rgba(145, 196, 117, 0.8);
}

.university-face {
    display: grid;
    grid-template-areas: 
    'header header header'
    'text text text'
    'text text text';
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 15% 42% 43%;
    background-color: rgba(147, 75, 172, 0.59);
    
}

.profile-section {
    width: 90%;
    left: 5%;
    height: 85%;
    min-height: 500px;
    position: relative;
    top: 75px;
    display: grid;
    grid-template-columns: 40% 58%;
    column-gap: 2%;
}

.text-area {
    position: relative;
    min-height: 500px;
    display: inline-block;
    padding: 10px;
    font-size: 2vw;
    /* font-size: 20px; */
    font-size-adjust: unset;
}


.side-blur {
    filter: blur(28px);
    background-color: white;
    position: fixed;
    width: 5%;
    height: 100%;
}

.text-field {
    background-color: #516477d7;
    padding: 40px;
    border-top-left-radius: 115px;
    border-bottom-right-radius: 115px;
    margin-bottom: 20px;
    color: rgb(226, 222, 222);
}

.bar-button {
    height: 100%;
    background-color: #727474;
    max-width: 50px;
    width: 5vw;
    position: absolute;
    display: inline-block;
}

.bar-button:hover {
    cursor: pointer;
}

.c-title {
    grid-area: header;  
    font-size: 30px;
    text-align: center; 
}
.c-image {
    grid-area: img;
    background-color: #516477d7;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.c-text {
    grid-area: text;
    font-size: 1.8vw;
    margin-left: 10px;
    margin-right: 10px;
}

.work-edu-section {
    width: 100%; 
    background-color: lightgray; 
    display: relative;
}