body {
    background-color: transparent;
}
.image-area {
    height: 100%;
    background-color: black;
    min-height: 500px;
    display: inline-block;
}

.profile-section {
    width: 90%;
    left: 5%;
    height: 85%;
    min-height: 500px;
    position: relative;
    top: 75px;
    display: grid;
    grid-template-columns: 40% 58%;
    column-gap: 2%;
}

.text-area {
    position: relative;
    min-height: 500px;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}


.side-blur {
    filter: blur(28px);
    background-color: white;
    position: fixed;
    width: 5%;
    height: 100%;
}

.text-field {
    background-color: #516477d7;
    padding: 40px;
    border-top-left-radius: 115px;
    border-bottom-right-radius: 115px;
    margin-bottom: 20px;
    color: rgb(226, 222, 222);
}

.bar-button {
    height: 350px;
    background-color: #727474;
    width: 50px;
    position: absolute;
    display: inline-block;
}