
.parallax-img {
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

.text-bar-style-1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #d0d0d0;
    font-size: 2.6vw;  
}

.text-bar-style-2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #d0d0d0;
    font-size: 2.2vw;   
}

.text-bar-style-3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #d0d0d0;
    font-size: 1.8vw;   
}

.text-bar-style-4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #d0d0d0;
    font-size: 1.5vw;   
}

.text-bar-style-4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #d0d0d0;
    font-size: 1.2vw;   
}