.page-title {
    color: #3BE03E;
    text-align: center;
    padding: 2vh 10vw;
}


.project-grid {
    display: grid;
    grid-template-areas: 'a a a b b' 'c c d d d' 'e e e f f' 'e e e f f';
    grid-template-columns: auto auto auto auto auto;
    width: 90%;
    padding-left: 10%;
}

.project {
    height: 500px;
    /* width: 100px; */
    background-color: gray;
    margin: 1vw;
    position: relative;
    transition: .5s;
}

.project:hover {
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

.project:hover .project-glass {
    filter: blur(0);
}

.project-glass {
    position: absolute;
    height: 100%;
    width: 100%;
    background: inherit;
    transition: .5s;
    filter: blur(5px);  
}

.project-1 {
    grid-area: a;
    
}
.project-2 {
    grid-area: b;
    background: url("/static/images/bot.png");
}
.project-3 {
    grid-area: c;
}
.project-4 {
    grid-area: d;
}
.project-5 {
    grid-area: e;
}
.project-6 {
    grid-area: f;
}

.project-title {
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    color: white;
}

@media (max-width: 500px) {
    .project-grid {
        display: grid;
        grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f';
        grid-template-columns: auto;
        width: 90%;
        padding-left: 10%;
    }

    .project {
        height: 80vw;
    }
}