<link rel="stylesheet" href="/static/css/aboutMeStyle.css">
<link rel="stylesheet" href="/static/css/parallaxStyle.css">
<link rel="stylesheet" href="/static/css/cubeStyle.css">
<script src="/static/js/cube.js"></script>
<!-- {% extends "template.html" %} -->

{% block bodyblock %}

<div class="parallax-img" style="background-image: url(/static/images/img4.jpg); height: 100%;">
    <div class="side-blur" style="left: 0;">

    </div>
    <div class="side-blur" style="left: 95%">
    
    </div>
    <div class="profile-section">
        <div class="image-area">
            <!-- Profile Image -->
        </div>
        <div class="text-area">
            <div class="text-field">
                <!-- Text about me -->
                Hello, my name is Arek Fielding. I was born on November 28th, 1998. Currently I am attending Western University
                for Software Engineering. I have just finished my 2nd year of school and am looking foward to my 3rd year.
            </div>
            <div class="text-field">
                
            </div>
        </div>

    </div>
</div>



<div class="text-bar-style-3">
    Work and Education <br>
    <div style="font-size: 1.2vw;">(Click left and right on me)</div>
</div>

<div class="work-edu-section">
    <div class="bar-button" onclick="rotateLeft()" style="left: 0;"></div>
    <div class="bar-button" onclick="rotateRight()" style="right: 0;"></div>

    <div class="cube-scene">
        <div class="cube cube-show-front" id="cube">
            <!-- Cube faces -->
            <div class="cube-face cube-face-left highschool-face" id="work-left-face">
                <div class="c-title">High School</div>
                <div class="c-image" style="background-image: url(/static/images/ggmsslogo.png)"></div>
                <div class="c-text">
                    For high school I went to Gordon Graydon Memorial Secondary School. I attended this school in
                    the International Business and Technology (IBT) program and graduated on the Honor Roll. At this school
                    is where I first picked up programming, in my Grade 11 computer science class. At the time I just learned
                    Visual Basic .net but have since also learned a variety of other programming languages.
                </div>
            </div>
            <div class="cube-face cube-face-right work-face" id="work-right-face">
                    <div class="c-title">Work - MDA</div>
                    <!-- <div class="c-image"></div> -->
                    <div class="c-text">
                        <img src="/static/images/mdalogo.png" alt="" style="width: 40%; max-width: 425px;" align='right'>
                        In the summers of 2017 and 2018 I took an internship at McDonald Detwiller and Associates.
                        During my first summer I worked under the Missions group and helped with a few projects as
                        well as did some scripting for excel. In 2018 I worked under the Software group and did work
                        on interfacing programs as well as setting up a web-portal for one of MDA's programs. From this
                        internship I was able to learn a lot about teamwork dynamics and workflow in an engineering 
                        workplace as well as I got to apply many of the concepts I learned in school to real-world
                        projects. 
                    </div>
            </div>

            <div class="cube-face cube-face-front university-face" id="work-front-face">
                <div class="c-title">University</div>
                <!-- <div class="c-image" style="background-image: url(/static/images/icon.png); background-color: transparent;"></div> -->
                <div class="c-text">
                    <img src="/static/images/westernlogo.png" alt="" style="width: 30%; max-width: 250px; margin: 10px;" align="right">
                    I am currently attending Western University. I am now in my third year of Software Engineering. Here
                    I have learned a lot more about programming as well as many other skills such as teamwork, writing
                    3-D CAD just to name a few. I also attended my first hackaton, Hack Western, here. This hackathon
                    really inspired me and since then I have already attended two others.
                </div>
            </div>
            <div class="cube-face cube-face-back" id="work-back-face">
                    
            </div>
            <!-- <div class="cube-face cube-face-top">Top</div>
            <div class="cube-face cube-face-bottom">Bottom</div> -->
        </div>
    </div>
    <div style="height: 50px"></div>

</div>

<div class="text-bar-style-3">
    Skills and Stuff
</div>
<div class="parallax-img" style="background-image: url(/static/images/img3.jpg);">
    <div class="side-blur" style="left: 0;">

    </div>
    <div class="side-blur" style="left: 95%">
    
    </div>
    <div class="skills-container">
        <div class="technical-container">
            <div class="skills-title">
                Technical Skills
            </div>
            <div class="skills-list">
                <ul class="custom-list-1">
                    <li>Programming Languages
                        <ul class="custom-list-2">
                            <li>C++</li>
                            <li>Java</li>
                            <li>Python</li>
                            <li>Javascript, NodeJS, AngularJS</li>
                        </ul>
                    </li>
                    <li>Web Development
                        <ul class="custom-list-2">
                            <li>HTML, CSS</li>
                        </ul>
                    </li>
                    <li>Major Libraries and Frameworks
                        <ul class="custom-list-2">
                            <li>Tensorflow</li>
                            <li>Flask and Django (Pyton)</li>
                            <li>PhoneGap</li>
                        </ul>
                        
                    </li>
                </ul>
            </div>
        </div>
        <div class="other-container">
            <div class="skills-title">
                Other Skills And Interests
            </div>
            <div class="skills-list">
                <ul class="custom-list-1">
                    <li>Skills 
                        <ul class="custom-list-2">
                            <li>Quickly Learning and Adapting to New Project Frameworks</li>
                            <li>Flexible Mindset</li>
                            <li>Strong listener</li>
                            <li>Willing to ask for advice</li>
                        </ul>
                    </li>
                    <li>Interests
                        <ul class="custom-list-2">
                            <li>Martial Arts</li>
                            <li>Hockey</li>
                            <li>My Cat</li>
                            <li>Food (Mainly Ramen)</li>
                        </ul>
                    </li>
                     
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="text-bar-style-3">
    Personal Projects
</div>
<div class="parallax-img" style="background-image: url(/static/images/img2.jpg); height: 400px;">
    <div class="side-blur" style="left: 0;"></div>
    <div class="side-blur" style="left: 95%"></div>
    
    <div class="projects-container">
        <div class="projects-description">
            Hello! Again, thank you for taking the time to look through this website. Here are some of the personal 
            projects that I have done. Some of them are solo while others are with one/more people. Clicking on any of
            the project titles will take you to the github page for them if it is available.
        </div>
        <div class="project-container-1">
            <div class="project-title">

            </div>
        </div>
    </div>
</div>
{% endblock %}