<link rel="stylesheet" href="/static/css/aboutMeStyle.css">
<link rel="stylesheet" href="/static/css/parallaxStyle.css">

{% extends "template.html" %}

{% block bodyblock %}
<div class="side-blur" style="left: 0;">

</div>
<div class="side-blur" style="left: 95%">

</div>
<div class="parallax-img" style="background-image: url(/static/images/img4.jpg); height: 100%;">
    <div class="profile-section">
        <div class="image-area">
            <!-- Profile Image -->
        </div>
        <div class="text-area">
            <!-- Text about me -->
        </div>
    </div>
</div>

<div class="text-bar-style-1">
    Keep scrolling for more about me
</div>

<div class="parallax-img" style="background-image: url(/static/images/img5.jpg); height: 400px;">

</div>

{% endblock %}