<link rel="stylesheet" href="/static/css/contactMe2Style.css">

{% if inital_page is defined %}
    {% extends "template.html" %}
{% endif %}

{% block bodyblock %}
<div class="main-block">
    <div class="title-block header-custom-2">
        Contact Me
    </div>

    <div class="details-block">
        <div class="details-text">
            Hey! Feel free to use any of the information below to contact me. I try to regularly check them all
            and will do my best to respond quickly.
        </div>
        <table class="contact-table text-custom-4">
            <tr>
                <td><b>Name: </b></td>
                <td><a>Arek Fielding</a></td>
            </tr>
            <tr>
                <td><b>Phone:</b></td>
                <td><a>(905) 808-1491</a></td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td><a>Arek.fielding@gmail.com</a></td>
            </tr>
            <tr>
                <td><b>Github: </b></td>
                <td><a class="contact-value" href="https://github.com/Earleking">https://github.com/Earleking</a></td>
            </tr>
            <tr>
                <td><b>Linkedin: </b></td>
                <td><a class="contact-value" href="https://www.linkedin.com/in/arek-fielding-81701a158/">https://www.linkedin.com/in/arek-fielding-81701a158/</a></td>
            </tr>         
        </table>
    </div>
    <div class="quick-block">
        <div class="quick-text">
            Or if you want to just quickly send me an email feel free to use this section as well. Just throw in
            your email so I know who to get back to. Thanks!
        </div>
        <form action="/submitEmail" method="POST">
            <div class="form-format">
                <div class="name-section">
                    <div class="name-title">
                        Name:
                    </div>
                    <input name="name" type="text" class="contact-input" required>
                </div>
                <div class="email-section">
                    <div class="name-title">
                        Email:
                    </div>
                    <input name="email" type="email" class="contact-input">
                </div>
                <div class="text-section">
                    <div class="name-title">

                    </div>
                    <textarea name="text" id="" class="contact-text-input" placeholder="Whatever you want to say to me here"></textarea>

                </div>

                <button class="form-button">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}