<link rel="stylesheet" href="/static/css/homepageStyle.css">

{% if inital_page is defined %}
    {% extends "template.html" %}
{% endif %}

{% block bodyblock %}
<div class="main-container">
    <div class="text-container">
        <div class="name-container header-custom-1">
            Arek Fielding
        </div>
        <hr style="background-color: white;">
        <div class="description-container header-custom-3">
            From Western University in Ontario, Canada I am an aspiring developer with a particular interest in Web and Game Development
        </div>
    </div>
    <div class="button-container">
        <a href="/aboutMe">
            <div class="redirect-button">About Me</div>
        </a>
        <a href="/projects">
            <div class="redirect-button">My Projects</div>
        </a>
    </div>
</div>

{% endblock %}