<link rel="stylesheet" href="/static/css/homePageStyle.css">
<link rel="stylesheet" href="/static/css/parallaxStyle.css">
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/homePage.js"></script>
{% extends "template.html" %}
{% block bodyblock %}
    <div class="parallax-img" style="background-image: url('/static/images/img3.jpg'); height: 100%;">
        <!-- <img src="/static/images/img1.jpeg" alt=""> -->
    </div>

    <div class="text-bar-style-1" id="tb1">
        Hello. My name is Arek Fielding.
    </div>

    <div class="parallax-img" style="background-image: url('/static/images/img2.jpg'); height: 300px;">
    </div>

    <div class="text-bar-style-1" id="tb2">
        And this is a website all about me. Feel free to click around and see what this website has to offer.
    </div>

    <div class="parallax-img" style="background-image: url('/static/images/img4.jpg'); height: 100%;">
    </div>
{% endblock %}