<link rel="stylesheet" href="/static/css/projects2Style.css">

{% if inital_page is defined %}
    {% extends "template2.html" %}
{% endif %}

{% block bodyblock %}
    <div class="page-title header-custom-1">
        Personal Projects
    </div>
    <div class="project-grid">
        <div class="project-1 project">
            <div class="project-glass"></div>
            <div class="project-title header-custom-2">
                Riot Game's API Challenge
            </div>
        </div>
        <div class="project-2 project">
            <div class="project-glass"></div>
            <div class="project-title header-custom-2">
                Earle-Bot
            </div>
        </div>
        <div class="project-3 project">
            <div class="project-glass"></div>
            <div class="project-title header-custom-2">
                Treeline.GG
            </div>
        </div>
        <div class="project-4 project">
            <div class="project-glass"></div>
            <div class="project-title header-custom-2">
                Profile Site
            </div>
        </div>
        <div class="project-5 project">
            <div class="project-glass"></div>
            <div class="project-title header-custom-2">
                Flight-Oracle
            </div>
        </div>
        <div class="project-6 project">
            <div class="project-glass"></div>
            <div class="project-title header-custom-2">
                My Next Project
            </div>
        </div>
    </div>
{% endblock %}